/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000000;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  text-decoration: underline;
  padding-bottom: 1;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.footer {
  color: rgba(255, 255, 255, .5);
  font-weight: 100;
  background-color: #333;
  padding: .25rem 0;
}

.clonelogo {
  max-width:100%;
  max-height:100%;
  padding:0;
}
@media screen and (max-width: 200px) and (min-width: 0px){
  .youtubelogo{
    min-width:65%;
    min-height:65%;
    max-width:65%;
    max-height:65%;
    padding:5px;
  }
}
@media screen and (max-width: 450px) and (min-width: 200px){
  .youtubelogo{
    min-width:45%;
    min-height:45%;
    max-width:45%;
    max-height:45%;
    padding:5px;
  }
}
@media screen and (max-width: 700px) and (min-width: 450px){
  .youtubelogo{
    min-width:35%;
    min-height:35%;
    max-width:35%;
    max-height:35%;
    padding:5px;
  }
}
@media screen and (max-width: 1920px) and (min-width: 700px){
  .youtubelogo{
    min-width:25%;
    min-height:25%;
    max-width:25%;
    max-height:25%;
    padding:5px;
  }
}